@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300;400;600;800&family=Poppins:wght@400;700;900&display=swap');

:root {
    /* Sizing Variables */
    --font-sizing: 16px;
    --deal-slide-height: 3.5rem;
    --nav-bar-height: calc(var(--deal-slide-height) * 1.5);
    --testimonial-height: 460px;

    /* Color Variables */
    --deal-slide-color: rgb(77, 77, 77);
    --nav-bar-color: #EEE0C9;
    --nav-bar-hover: hsl(37, 52%, 90%);
    --base-color: #F1F0E8;
    --text-color: rgb(100, 100, 100);
}

body {
    font-size: var(--font-sizing);
    background-color: var(--base-color);
    overflow-x: hidden;
}

/* body:has(.active) {
    overflow: hidden;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Serif', serif;
}

:not(h1, h2, h3, h4, h5, h6) {
    font-family: 'Poppins', sans-serif;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-header {
    height: var(--nav-bar-height);
    position: sticky;
    top: 0;
    background-color: var(--nav-bar-color);
    z-index: 1;
    box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.25);
}

.slider-deals-container {
    height: var(--deal-slide-height);
    display: flex;
    justify-content: center;
    background-color: var(--deal-slide-color);
}


.nav-bar {
    height: var(--nav-bar-height);
    display: flex;
    justify-content: space-between;
    top: 0;
}

.home-logo-link {
    text-decoration: none;
    color: var(--text-color);
    display: flex;
}

.home-logo-link:focus-visible {
    outline: 2px solid #ADC4CE;
}

.logo-container {
    padding: 0 5px;
}

.left-side-container {
    display: flex;
    gap: 20px;
}

.right-side-container {
    display: flex;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-text {
    text-align: center;
    white-space: nowrap;
}

.logo-text.sleeping-inn {
    font-family: 'Noto Serif', serif;
    font-weight: 900;
    font-size: 1rem;
}

.logo-text.since-text {
    font-weight: 200;
}

.nav-logo {
    height: calc(var(--nav-bar-height) - 25px);
}

.nav-links {
    display: flex;
    justify-content: stretch;
    text-decoration: none;
    list-style: none;
    position: relative;
}

button.nav-item {
    width: 150px;
}

.nav-links button, 
.nav-links a {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    border: none;
    color: var(--text-color);
    background: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
    white-space: nowrap;
}

.nav-links button:hover,
.nav-links a:hover {
    background-color: var(--nav-bar-hover);
}

.nav-links button:focus-visible,
.nav-links a:focus-visible {
    outline: 2px solid #ADC4CE;
}

.button-content {
    display: flex;
}

.languages-dropdown-container {
    position: absolute;
    top: var(--nav-bar-height);
    background-color: var(--base-color);
    width: 150px;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    transform: perspective(800px) rotateX(-90deg);
    transform-origin: 50% 0;
    transition: transform 400ms ease-in-out;
    box-shadow: 0 6px 8px 1px rgba(0, 0, 0, 0.25);
    -ms-overflow-style: none; /* IE 10+ */
    scrollbar-width: 4px;
}

.languages-dropdown-container::-webkit-scrollbar {
    width: 5px;
    height: 8px; 
}

.languages-dropdown-container::-webkit-scrollbar-thumb {
    background-color: #ADC4CE;
    border-radius: 100vw;
}

.language-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.language-item:last-child {
    border-bottom: none;
}

.language-links {
    text-decoration: none;
    list-style: none;
}

.language-links a:hover {
    background-color: hsla(53, 24%, 88%);
}   

.nav-item.active {
    background-color: var(--nav-bar-hover);
}

:has(.nav-item.active) + .languages-dropdown-container{
    transform: none;
}

.nav-bar-mobile-icon svg {
    width: calc(var(--nav-bar-height) - 30px);
}

.nav-bar-mobile-icon {
    border: none;
    background: none;
    cursor: pointer;
    align-self: center;
    border-radius: 100vw;
}

.nav-bar-mobile-icon:hover,
.nav-bar-mobile-icon:hover .button-content ~ svg {
    background-color: rgba(0, 0, 0, 0.25);
    color:rgba(255, 255, 255, 0.8)
}

button.nav-item::after {
    padding-top: 3px;
    padding-left: 3px;
    content: "\25bc";
    font-size: 0.8rem;
}

button.nav-item.active::after {
    content: "\25b2"
}

.button-content {
    position: relative;
    z-index: -1;
}

.mobile-content {
    display: none;
}

.mobile-content-nav-container {
    position: absolute;
    top: var(--nav-bar-height);
    right: 0;
    background-color: var(--base-color);
    width: 40vw;
    transform: perspective(800px) rotateX(-90deg);
    transform-origin: 50% 0;
    transition: transform 400ms ease-in-out;
    box-shadow: 0 6px 8px 1px rgba(0, 0, 0, 0.25);
}

.mobile-content.active + .mobile-content-nav-container {
    transform: none;
}

.mobile-content-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-content-links a:hover,
.mobile-content-links button:hover {
    background-color: hsla(53, 24%, 88%);
}   

.mobile-content-links, 
.mobile-content-links a,
.mobile-content-links button {
    background: none;
    display: block;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--text-color);
    width: 100%;
    height: 100%;
    text-align: center;
}

.mobile-content-links button {
    cursor: pointer;
}

.mobile-content-links a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-content-item {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.mobile-content-item:last-child {
    border-bottom: none;
}

button.mobile-content-button::after {
    margin-bottom: 5px;
    padding-left: 5px;
    content: "\25bc";
    font-size: 1rem;
}

button.mobile-content-button.active::after {
    content: "\25b2";
}

.mobile-languages-container {
    background-color: white;
    max-height: 0;
    overflow: scroll;
    transition: max-height 300ms ease-in-out, overflow 300ms ease-in-out;
    box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.20);
    -ms-overflow-style: none; /* IE 10+ */
    scrollbar-width: 4px;
    height: 100%;
}

.mobile-languages-container::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

.mobile-languages-container::-webkit-scrollbar-corner {
    background-color: transparent;
}

.mobile-languages-container::-webkit-scrollbar-thumb {
    background-color: #ADC4CE;
    border-radius: 100vw;
}

.mobile-content-links:has(.mobile-content-button.active) .mobile-languages-container {
    max-height: 125px;
    overflow-y: scroll;
}

.language-link.mobile:hover {
    background-color: hsla(53, 1%, 95%);;
}

.main-content {
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

.hero-shot {
    height: calc(100vh - var(--nav-bar-height) - var(--deal-slide-height) + 100px);
    background-image: url("./imgs/Hero\ Shot.jpg");
    background-position: center;
    background-size: cover;
}

.hero-shot-wrapper {
    height: 100%;
    position: relative
}

.event-container {
    background-color: rgba(241, 240, 232, 0.8);
    position: absolute;
    top: var(--nav-bar-height);
    left: 0;
    padding: 50px;
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

.event-title {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

.event-content {
    font-size: 2rem;
    text-align: left;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.5);
}

.event-highlight {
    color: rgba(0, 0, 0, 0.7);
}

a.cta-button {
    text-decoration: none;
    background-color: var(--base-color);
    border: 3px solid #96B6C5;
    color: var(--text-color);
    padding: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    transition: background-color 400ms ease-in-out, color 400ms ease-in-out;
}

a.cta-button:hover {
    background-color: #96B6C5;
    color: black;
}

a.cta-button:focus-visible {
    outline: 2px solid rgba(0, 0, 0, 0.4);
}

.cta-button.book-now {
    margin-top: 30px;
    width: 50%;
    font-size: 1rem;
}

a.primary-button {
    text-decoration: none;
    background-color: #96B6C5;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    margin: 20px 0;
    transition: background-color 300ms ease-in-out;
    border-radius: 10px;
}

a.primary-button:hover {
    background-color: #ADC4CE;
}

a.primary-button:focus-visible {
    outline: 2px solid rgba(0, 0, 0, 0.4);
}

.booking-information {
    height: var(--nav-bar-height);
    position: sticky;
    top: 5.775rem;
    background-color: var(--nav-bar-color);
    padding: 17px;
    translate: 0 -110%;
}

.booking-information.top-screen {
    z-index: 2;
    box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.25);
}

.booking-input-form {
    height: 100%;
}

.booking-input-container {
    height: 100%;
    display: flex;
    gap: 17px;
}

.top-booking-input {
    display: flex;
    width: 50%;
    gap: 17px;
}

.search-input {
    display: flex;
    align-items: center;
    border: 1px solid;
    width: 50%;
}

.search-input > input {
    font-size: 1rem;
    height: 80%;
    width: 80%;
    background: none;
    border: none;
    padding-left: 5px;
    width: calc(100% - 45px);
}

/* Change the white to any color */
.search-input > input:-webkit-autofill,
.search-input > input:-webkit-autofill:hover,
.search-input > input:-webkit-autofill:focus,
.search-input > input:-webkit-autofill:active {
    -webkit-box-shadow: inset 0 0 0 100px var(--nav-bar-color);
}

.search-input > input:focus-visible {
    outline: none;
}

.search-input::before {
    content: url("./imgs/search.svg");
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 90%;
    position: relative;
    border-right: 1px solid;
}

.search-input:focus-within {
    outline: 3px solid #ADC4CE;
}

.check-in-out-dates {
    display: flex;
    align-items: flex-end;
    border: 1px solid;
    position: relative;
}

.check-in-out-dates::after {
    content: "";
    width: 2px;
    height: 100%;
    background-color: var(--text-color);
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% 0;
}

.check-in-out-dates:focus-within { 
    outline: 3px solid #ADC4CE;
}

.check-in-out-dates input {
    background: none;
    border: none;
    padding: 0 5px;
    position: relative;
    overflow: visible;
}

.check-in-out-dates input:focus-visible {
    outline: none;
}

.check-in-out-dates input::before {
    position: absolute;
    top: 0;
    translate: 0 -110%;
    font-weight: bold;
}

.check-in-out-dates input:first-child::before {
    content: "Check in Date:"
}

.check-in-out-dates input:last-child::before {
    content: "Checkout Date:";
}

.bottom-booking-input {
    display: flex;
    width: 50%;
    border: 1px solid var(--text-color);
}

.check-in-wrapper,
.checkout-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.guest-selection-container,
.special-rates-selection-container {
    width: 37.5%;
}

.search-btn {
    width: 25%;
}

.booking-btn.contained {
    width: 100%;
    height: 100%;
}

.booking-btn.contained::after {
    padding-top: 3px;
    padding-left: 3px;
    content: "\25bc";
    font-size: 0.8rem;
}

.booking-btn.contained.active::after {
    content: "\25b2";
}

.booking-btn {
    border: none;
    background: none;
    cursor: pointer;
}

.booking-btn:focus-visible {
    outline: 3px solid #ADC4CE;
}

.booking-btn:first-child,
.booking-btn:nth-child(2) {
    border-right: 1px solid var(--text-color);
}

.booking-btn:hover {
    background-color: var(--nav-bar-hover);
}

.guest-selection-container {
    position: relative;
}

.guest-selection-form-container {
    position: absolute;
    left: 50%;
    translate: -50% 40px;
    background-color: var(--base-color);
    width: 150%;
    height: auto;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    border-radius: 25px;
    padding: 20px;
}

.guest-selection-form-container::before {
    content: "";
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid var(--base-color);
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% -100%;
}

.booking-btn.contained.active + .guest-selection-form-container {
    opacity: 1;
}

.guest-selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.selection-wrapper {
    display: flex;
    justify-content: center;
    width: 50%;
}

.selection-btn {
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #ADC4CE;
    border: 3px solid #96B6C5;
    font-size: 1.5rem;
    color: var(--base-color);
}

.selection-btn:hover {
    background-color: var(--base-color);
    color: var(--text-color);
}

.selection-btn.fade {
    background-color: hsl(198, 0%, 74%);
    border: 3px solid hsl(199, 10%, 68%);
    color: var(--text-color);
}

.selection-btn.fade:hover {
    background-color: rgba(20, 20, 20, 0.1);
    color: var(--base-color);
}

.selection-count {
    text-align: center;
    width: 50px;
    align-self: center;
}

.amenities-container {
    display: flex;
    padding: 40px 0;
    gap: 25px;
}

.pool-image {
    background-image: url("https://images.pexels.com/photos/189296/pexels-photo-189296.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

.food-image {
    background-image: url("https://images.pexels.com/photos/1267320/pexels-photo-1267320.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

.bar-image {
    background-image: url("https://images.pexels.com/photos/17993295/pexels-photo-17993295/free-photo-of-barman-preparing-drink.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

.amenities-section {
    width: 100%;
}

.amenity-image {
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
    border-radius: 10px;
}

.amenity-card {
    width: 33%;
    border: 1px solid;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle {
    margin: 0.75rem 0;
}

.content-text {
    text-align: justify;
    margin-bottom: 0.75rem 0;
}

.testimonial-section {
    width: 100%;
    background-color: rgba(173, 196, 206, 0.2);
}

.subtitle.testimonial-title {
    text-align: center;
    padding-top: 40px;
}

.testimonial-container {
    display: flex;
    gap: 40px;
    padding: 40px;
    text-align: center;
    justify-content: center;
}

.testimony-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimony-image {
    width: 25vw;
    height: 25vw;
    background-position: center;
    background-size: cover;
    border-radius: 100vw;
    box-shadow: inset 0 0 10px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 5px;
}

.subsubtitle.testimony-name {
    margin-bottom: 10px;
}

.testimony-star-container {
    display: flex;
    gap: 2px;
    margin-bottom: 10px;
}

.testimony-star {
    background-image: url("./imgs/star-fill.svg");
    background-position: center;
    background-size: cover;
    width: 25px;
    height: 25px;
}

.testimony-1 {
    background-image: url("./imgs/Jane-testimony.png");
}

.testimony-2 {
    background-image: url("./imgs/James-Smith-testimony.png");
}

.testimony-3 {
    background-image: url("./imgs/Jacky-tesimony.png");
}


.content-text.testimony-text {
    max-width: 600px;
}

.cta-container {
    border: 1px solid;
    margin: 52px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    border-radius: 25px;
}

.cta-image {
    border-radius: 25px 0 0 25px;
    width: 50%;
    height: 70vh;
    background-image: url("./imgs/Hotel-Room.jpg");
    background-size: cover;
    background-position: center;
}

.cta-content-wrapper {
    width: 50%;
    padding: 52px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-footer {
    height: var(--nav-bar-height);
    background-color: var(--nav-bar-color);
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.nav-links.footer {
    height: 100%;
}

.left-side-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 40px;
    padding-left: 20px;
}

.footer-icon {
    background-size: cover;
    background-position: center;
    height: 52px;
    width: 52px;
    cursor: pointer;
}

.footer-icon:hover { 
    color: var(--text-color);
    fill: var(--text-color);
}

.facebook-icon {
    background-image: url("./imgs/facebook\ black.svg");
}

.facebook-icon:hover {
    background-image: url("./imgs/facebook\ white.svg");
}

.twitter-icon {
    background-image: url("./imgs/twitter\ black.svg");
}

.twitter-icon:hover {
    background-image: url("./imgs/twitter\ white.svg");
}

.blog-icon {
    width: auto;
    height: auto;
    font-size: 1.75rem;
    font-weight: 900;
    letter-spacing: 2px;
}

a.footer-link {
    text-decoration: none;
    color: inherit;
}

.copyright-footer {
    background-color: var(--nav-bar-color);
}

.copyright-wrapper::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    
}

.copyright-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 5px;
    text-align: center;
}

.hidden {
    display: none;
}

/* Media Queries */

@media (orientation: portrait) and (max-width: 768px) {
    .testimony-image {
        width: 25vh;
        height: 25vh;
    }
}

@media (min-width: 1200px) {
    .testimony-image {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 1000px) {
    .booking-information {
        height: auto;
        top: 166px;
    }

    .top-booking-input,
    .bottom-booking-input {
        width: 100%;
        height: 50px;
    }

    .check-in-out-dates {
        width: 50%;
    }

    .check-in-out-dates > input {
        width: 100%;
    }

    .booking-input-container {
        flex-direction: column;
    }

    .testimonial-container {
        flex-direction: column;
    }

    .cta-container {
        flex-direction: column;
    }

    .cta-image {
        border-radius: 25px 25px 0 0;
        width: 100%;
        height: 50vh;
    }

    .cta-content-wrapper {
        width: 80%;
        padding: 0;
        padding-bottom: 40px;
    }

    .guest-selection-form-container {
        width: 100%;
    }
}


@media (max-width: 1250px) {
    .amenities-container {
        padding: 40px 20px;
    }
}

@media (min-width: 961px) {
    .nav-bar-mobile-icon {
        display: none;
    }

    .mobile-content-nav-container {
        display: none;
    }
}

@media (max-width: 960px) {
    .nav-links:not(.footer) {
        display: none;
    }

    .mobile-content {
        display: block;
    }

    .right-side-container {
        margin-right: calc((var(--nav-bar-height) / 2) - 15px)
    }

}

@media (max-width: 930px) {
    .amenities-section {
        margin-top: 90px;
    }
}

@media (max-width: 768px) {
    .amenity-image {
        height: 40vh;
    }
    .amenities-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .amenity-card {
        width: 60%;
    }
}

@media (max-width: 565px) {
    .amenity-card {
        border: none;
        box-shadow: none;
    }
    .amenities-container {
        padding: 40px 0;
    }
    .booking-information {
        display: none;
    }
    .amenities-section {   
        margin-top: 0;
    }
    .amenity-card {
        width: 100%;
        /* height: 100vh; */
    }
}

@media (max-width: 600px) {
    .nav-links.footer {
        display: none;
    }
    .mobile-content-nav-container {
        width: 60svw;
    }
}

@media (max-width: 426px) {
    .cta-button.book-now {
        width: 80%;
    }
    .mobile-content-nav-container {
        width: 100svw;
    }
}

@media (max-height: 650px) {
    .hero-shot {
        height: calc(100vh - var(--nav-bar-height) - var(--deal-slide-height) + 200px);
    }
}
